.App {
  text-align: center;
  display:block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #28292e;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body{
  background-color: #28292e;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form{
  display: block;
}

h2 {
  color: black;
}

#reportingArea{
  background-color: #28292e;
  padding: 70px;
}
.red{
  color: red;
}

div.App{

  background-color: gray;
  color: white;

}

.button{
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.button:hover{
  background-color: black;
}

.button:active{
  background-color: black;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}